@import 'globals.scss';

.SidebarWrapper {
  flex: 1;
  padding: 10px;

  .Sidebar {
    border: 1px solid $color-grey;
    border-radius: 5px;

    .SidebarHeading {
      background-color: $color-lightgrey;
      border-bottom: 1px solid $color-grey;
      padding: 10px;
    }

    .SidebarBody {
      padding: 10px;

      .SidebarFilter {
        padding-bottom: 10px;
        
        .InputRange {
          padding: 20px 10px;
        }
      }
    }
  }
}