.SidebarWrapper {
  flex: 1;
  padding: 10px;

  .Sidebar {
    border: 1px solid #ddd;
    border-radius: 5px;

    .SidebarHeading {
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
      padding: 10px;
    }

    .SidebarBody {
      padding: 10px;
    }
  }
}