.App {

  .AppContent {
    display: flex;
  }

  .title {
    font-size: 1.5em;
  }

  .intro {
    font-size: large;
    display: flex;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}