.HomeWrapper {
  padding: 10px;

  .Home {
    border: 1px solid #ddd;
    border-radius: 5px;

    .HomeHeading {
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
      padding: 10px;
    }

    .HomeBody {
      padding: 10px;
    }
  }
}